body{
background:#0f172a;
font-family:Arial;
color:white;
}

.card{
width:60%;
margin:auto;
margin-top:60px;
background:#111827;
padding:30px;
border-radius:15px;
box-shadow:0px 0px 25px black;
}

h1{
text-align:center;
color:#22d3ee;
}

textarea{
width:100%;
height:200px;
padding:15px;
border-radius:10px;
border:none;
font-size:15px;
}

button{
margin-top:15px;
padding:10px 25px;
background:#22d3ee;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#06b6d4;
}

.result{
margin-top:20px;
background:#1f2933;
padding:15px;
border-radius:10px;
}

ul{
padding-left:20px;
}
